<ul>
  <li>First Name <%= @author.first_name %></li>
  <li>Last Name <%= @author.last_name %></li>
  <li>Gender <%= @author.gender %></li>
  <li>Website <%= @author.website %></li>
  <li>Bio <%= @author.author_biography %></li>
</ul>

<ul>
  <% @books.each do |book| %>
    <li>Book title: <%= book.name %></li>
    <li>Book description: <%= book.description %></li>
    <li>***<li>
  <% end %>
</ul>
