<ul>
  <li>First Name <%= @author.first_name %></li>
  <li>Last Name <%= @author.last_name %></li>
  <li>Gender <%= @author.gender %></li>
  <li>Website <%= @author.website %></li>
  <li>Bio <%= @author.author_biography %></li>
</ul>
